{% if product.selected_or_first_available_variant != blank %}
  {% assign price = product.selected_or_first_available_variant.price | money_without_currency %}
  {% assign compare_price = product.selected_or_first_available_variant.compare_at_price | money_without_currency %}
  <div class="flex items-center gap-x-3 justify-center md:justify-start">
    <h5 class="line-through text-gray-400 font-medium" id="product_compare_price">{{ product.selected_or_first_available_variant.compare_at_price | money}}</h5>
    <h3 class="font-semibold text-2xl lg:text-3xl" id="product_price">{{ product.selected_or_first_available_variant.price | money }}</h3>
    {% if compare_price > price %}
      {% assign discount_value = compare_price | minus: price %}
      {% assign discount_percentage = discount_value | divided_by: compare_price | times: 100 %}
      <h4 class="text-red-400 text-xl lg:text-2xl" id="discount_percentage">-{{ discount_percentage | round: 0 | append: '%' }}</h4>
    {% endif %}
  </div>
{% else %}
  {% assign price = product.price | money_without_currency %}
  {% assign compare_price = product.compare_at_price | money_without_currency %}
  <div class="flex items-center gap-x-3 justify-center md:justify-start">
    <h5 class="line-through text-gray-400 font-medium" id="product_compare_price">ff{{ product.compare_at_price | money | escape}}</h5>
    <h3 class="font-semibold  text-2xl lg:text-3xl" id="product_price">{{ product.price | money }}</h3>
    {% if compare_price > price %}
      {% assign discount_value = compare_price | minus: price %}
      {% assign discount_percentage = discount_value | divided_by: compare_price | times: 100 %}
      <h4 class="text-red-400 text-xl lg:text-2xl" id="discount_percentage">-{{ discount_percentage | round: 0 | append: '%' }}</h4>
    {% endif %}
  </div>
{% endif %}