<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }} - {{ shop.name }}</title>
    <!-- FAVICON -->
      {% if 'favicon.png' | asset_url %}
    <link rel="icon" href="{{ 'favicon.png' | asset_url }}" type="image/png">
  {% endif %}
    {{ content_for_header }}
  {{ 'poppins-font.css' | asset_url | stylesheet_tag }}
    {% comment %} splide {% endcomment %}
  {{ "splide.min.css" | asset_url | stylesheet_tag }}
    {% comment %} daisyUI and Tailwaind {% endcomment %}
    {{ "daisyui.min.css" | asset_url | stylesheet_tag }}

    {{ "swiper.min.css" | asset_url | stylesheet_tag }}
    <script src="{{'tailwindcss.js' |  asset_url}}"></script>
    {% comment %} splide script {% endcomment %}
    <script src="{{'splide.min.js' |  asset_url}}"></script>

    <script src="{{'swiper.min.js' |  asset_url}}"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />

    {{ "style.css" | asset_url | stylesheet_tag }}

  </head>
  <body>
    <div class="sticky top-0 z-[9999]">
      {% sections 'header-group' %}
    </div>
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </body>
</html>